/*General formatting and styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;   
    line-height: 1.5; 
    letter-spacing: 0.2px; 
    padding-top: 80px; 
    overflow: auto;
    background-color:#E5E5E5;
}
main{
    margin-top: 120px;
}
p {
    margin: 20px;      
    font-size: 20px; 
    border-radius: 5px;                                       
}
h1{
    font-size: 27px;
    font-style: italic;
    font-weight: lighter;
    color: #E5E5E5;
    padding: 0px;
    margin: 5px 0px 5px 70px; 
    animation: animatedH1 2s ease-in-out;
}
@keyframes animatedH1 {
    0%{
        transform: translateY(-200%);
        opacity: 0;
    }      
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
    }
}
h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.8px; 
    margin:15px;
    text-align: center;
    
}

h3, h4 {
    font-size: 20px;
    font-weight: 700;
}
.sub-heading{
    margin: 30px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(253, 248, 248);
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #E5E5E5, #002B5C);
    border-radius: 10px; 
}
/*Nav bar styling */
header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #001a38;
    flex-wrap: wrap;
    z-index: 1000; 
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.5);
}
.hamburger {
    background: none;
    border: none;
    color: #E5E5E5;
    font-size: 30px;
    cursor: pointer;
    display: none; 
}
.nav-bar ul{
    list-style-type: none;
}
.nav-bar ul li{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #E5E5E5;
    font-size: 18px;
    line-height: 40px;
    padding: 0 20px; 
    display: inline-block;
    animation: animatedNav 3s ease-out forwards; 
    opacity: 0; 
    transition: color 0.2s ease-in, transform 0.2s ease-out; 
}
@keyframes animatedNav { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-bar ul li a:hover {
    color: #008080;
    text-decoration: underline;
    transform: scale(1.2); 
}
.nav-bar ul li a.active {
    background-color: #008080; 
    transform: scale(1.2); 
    color: #E5E5E5; 
    border-radius: 5px; 
    padding: 10px 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-variation-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color:#008080 ; 
    color: #E5E5E5;
    border: none;
    border-radius: 40px;
    padding: 15px 25px; 
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1); 
}

.button-variation-1:hover {
    transform: scale(1.1); 
    background-color:#39cece ; 
    
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}
.button-variation-2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #4A4A4A;
    color: #E5E5E5;
    border-radius: 10px;
    padding: 12px 25px;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-variation-2:hover {
    transform: translateY(-3px);
    background-color: red;
    color: #E5E5E5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.backToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    background-color: #39cece;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 1s ease; 
    pointer-events: none;
}
.backToTopBtn.show {
    opacity: 0.7; 
    pointer-events: auto; 
}

#scroll-button {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    color: #E5E5E5;
    font-size: 20px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
    text-transform: uppercase;
    border-radius: 25px; 
    padding: 10px 20px;
    box-shadow: 0 0 20px rgba(0, 128, 128, 0.5);
    animation: float 1.5s ease-in-out infinite;
    transition: all 0.1s ease;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

#scroll-button:focus {
    outline: none; 
    box-shadow: 0 0 15px #008080; /* Enhanced focus outline */
    transition: box-shadow 0.1s ease; /* Quick transition for box-shadow */
}

#scroll-button:hover {
    color: #008080; /* Change text color on hover */
}

hr{
    color: black;
    padding: 0.5px;
    margin: 30px 50px 0px 50px;
  

}
/*Footer styling used across all the pages*/
footer {
    padding: 20px;
    background-color: #001a38;
    animation: animatedFooter 3s ease-in;
}
@keyframes animatedFooter {
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
       
    }
}

.contact-me-header {
    color: #E5E5E5;
    font: bold;
    font-size: 35px;
}

address {
    color: #E5E5E5;
    margin: 20px 20px;
    font-size: 19px;
}

.footer-socials {
    display: flex;                
    flex-direction: column;      
    align-items: center;         
    text-align: center;          
    margin: 20px 0;            
    padding: 10px;         
    color: #E5E5E5;              
    bottom: 0;              
    left: 0;                 
    right: 0;                
    z-index: 1000;           
}

.footer-socials p {
    margin: 0;                  
    padding: 5px 0;            
}

.social-icons {
    display: flex;              
    justify-content: center;    
    margin-top: 10px;         
}

.social-icons svg {
    margin: 0 5px;             
    width: 24px;              
    height: 24px;               
    fill: #008080           
}
  
.social-icons svg:hover {
    fill: #E5E5E5; 
}
.fn {
    color: #b9c7d1;
}

/*media queries for smaller all the smaller devices*/
@media (max-width: 768px) {
    .nav-bar ul li {
        display: block;
        text-align: center; 
    }
    .nav-bar ul {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 70px; 
        left: 0;
        right: 0;
        background-color: #001a38; 
        z-index: 999;
    }

    .nav-bar ul.show {
        display: flex; 
    }

    .hamburger {
        display: block; 
    }

    .nav-bar ul li {
        text-align: center; 
        margin: 10px 0; 
    }
}