* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/*General formatting and styling*/
body{
    font-family: Arial, Helvetica, sans-serif;   
    line-height: 1.5; 
    letter-spacing: 0.2px; 
    background-color: white;
    height: 100vh;
    padding-top: 80px; 
    overflow: auto;
}
main{
    margin-top: 80px;
}
p {
    margin: 20px;      
    font-size: 20px; 
    border-radius: 5px;                                       
}
h1{
    font-size: 27px;
    font-style: italic;
    font-weight: lighter;
    color: white;
    padding: 0px;
    margin: 5px 0px 5px 70px; 
    animation: animatedH1 2s ease-in-out;
}
@keyframes animatedH1 {
    0%{
        transform: translateY(-200%);
        opacity: 0;
    }      
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
    }
}
h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.8px; 
    margin:15px;
    
}

h3, h4 {
    font-size: 20px;
    font-weight: 700;
}
.sub-heading{
    margin: 30px;
}
/*Nav bar styling */
header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #001a38;
    flex-wrap: wrap;
    z-index: 1000; 
}
.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none; 
}
.Nav-Bar ul{
    list-style-type: none;
}
.Nav-Bar ul li{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Nav-Bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 40px;
    padding: 0 20px; 
    display: inline-block;
    animation: animatedNav 3s ease-out forwards; 
    opacity: 0; 
    transition: color 0.2s ease-in, transform 0.2s ease-out; 
}

.Nav-Bar ul li a:hover {
    color: #008080;
    text-decoration: underline;
    transform: scale(1.2); 
}

@keyframes animatedNav { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button-variation-1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #008080; 
    color: white;
    border: none;
    border-radius: 40px;
    padding: 15px 25px; 
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1); 
}

.button-variation-1:hover {
    transform: scale(1.1); 
    background-color: #008080; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}
.button-variation-2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #4A4A4A;
    color: white;

    border-radius: 10px;
    padding: 12px 25px;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-variation-2:hover {
    transform: translateY(-3px);
    background-color: red;
    color: #E5E5E5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.backToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    background-color: #008080;;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 1s ease; 
    pointer-events: none;
}
.backToTopBtn.show {
    opacity: 0.8; 
    pointer-events: auto; 
}
hr{
    color: black;
    padding: 0.5px;
    margin: 30px 50px 0px 50px;
  

}
/*Footer styling used across all the pages*/
footer {
    padding: 20px;
    background-color: #001a38;
    animation: animatedFooter 3s ease-in;
}
@keyframes animatedFooter {
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
       
    }
}

.contact-me-header {
    color: white;
    font: bold;
    font-size: 35px;
}

address {
    color: white;
    margin: 20px 20px;
    font-size: 19px;
}

.footer-socials {
    display: flex;                
    flex-direction: column;      
    align-items: center;         
    text-align: center;          
    margin: 20px 0;            
    padding: 10px;         
    color: white;     
}

.footer-socials p {
    margin: 0;                  
    padding: 5px 0;            
}

.social-icons {
    display: flex;              
    justify-content: center;    
    margin-top: 10px;         
}

.social-icons svg {
    margin: 0 5px;             
    width: 24px;              
    height: 24px;               
    fill: #008080           
}
  
.social-icons svg:hover {
    fill: white; 
}
.fn {
    color: #b9c7d1;
  
}

/*media queries for smaller all the smaller devices*/
@media (max-width: 768px) {
    .Nav-Bar ul li {
        display: block;
        text-align: center; 
    }
    .Nav-Bar ul {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 70px; 
        left: 0;
        right: 0;
        background-color: #001a38; 
        z-index: 999;
    }

    .Nav-Bar ul.show {
        display: flex; 
    }

    .hamburger {
        display: block; 
    }

    .Nav-Bar ul li {
        text-align: center; 
        margin: 10px 0; 
    }
}