.contact-info {
    display: grid; 
    margin: 80px; 
    gap: 100px;
    grid-template-columns: repeat(3, 1fr); 
}

.contact-item {
   text-align: center;
    padding: 20px;

}
.contact-item h3{
    font-size: 1.5rem;
}
.contact-us {
    max-width: 800px;
    margin: 50px auto;
    padding: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.form-image {
    flex: 1;
    margin-right: 20px;
}
.form-image img {
    max-width: 100%;
    border-radius: 8px;
}
.form-fields {
    flex: 2;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
textarea {
    resize: vertical;
    height: 100px;
}
.checkbox-group {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.success {
    color: green;
    font-size: 16px;
    margin-top: 20px;
}