
.services-section {
    margin-top: 150px;
    margin-bottom: 50px;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #002B5C;
    margin-bottom: 40px;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service-card {
    background-color: #E5E5E5;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card h2 {
    color: #002B5C;
    font-size: 28px;
    margin-bottom: 10px;
}

.service-card p {
    margin-bottom: 20px;
}

.service-card ul {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
}

.service-card ul li {
    margin-bottom: 10px;
}

.stock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#app {
    max-width: 650px;
    margin: auto;
    padding: 20px;
    background: #E5E5E5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart {
    border: 1px solid #ccc;
    margin: 20px 0;
}

h1 {
    text-align: center;
}

#fetch-button {
    width: 100%;
    padding: 10px;
    background-color: #008080;
    color: #E5E5E5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add transition */
}

#fetch-button:hover {
    background-color: #000000;
    color: #E5E5E5;
}

#result {
    margin-top: 20px;
}

svg {
    margin-top: 20px;
    background: #f9f9f9;
    border-radius: 4px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

.bar {
    fill: #008080;
    transition: fill 0.3s ease;
}

.bar:hover {
    background-color: #000000;
    color: #E5E5E5;
}

.legend {
    cursor: pointer;
    margin-right: 30px;
    color: #008080;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #333;
}

.label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #333;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: #4A4A4A;
    margin-bottom: 10px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #002B5C;
    border-radius: 5px;
    background-color: #E5E5E5;
    color: #4A4A4A;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s;
}

select:focus {
    outline: none;
    border-color: #008080;
    background-color: #E5E5E5;
}

select:hover {
    border-color: #008080;
}

option {
    padding: 10px;
}

.area-of-focus {
    margin-top: 100px;
    width: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.area-of-focus h2 {
    text-align: center;
}

.focus-areas-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.accordion {
    background-color: #E5E5E5;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    transition: 0.4s;
    border-bottom: 2px solid #E5E5E5;
}

.accordion:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 24px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 15px 20px;
    background-color: #f9f9f9;
    display: none;
    overflow: hidden;
    border-bottom: 2px solid #E5E5E5;
}

.panel p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.6;
    color: #4A4A4A;
}

/* Add your CSS styles here */


hr {
    border: none;
    height: 2px;
    background-color: #E5E5E5;
    margin: 20px 0;
}

/* Optional: Add padding for smaller screens */
@media (max-width: 768px) {
    #hero-services h1 {
        font-size: 42px;
        padding: 0 20px;
        margin-bottom: 150px;
    }

    #scroll-button {
        font-size: 16px;
        margin-bottom: 70px;
    }

    main {
        display: block;
    }

    .hidden-controls::-webkit-media-controls {
        display: none !important;
    }

    .hidden-controls {
        pointer-events: none;
    }
}