.service-intro {
    margin: 150px 100px 100px 100px;
}

.services-section {
    margin-top: 150px;
    margin-bottom: 50px;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #002B5C;
    margin: 3 0px 0px 40px 0px;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.service-card {
    background-color: #E5E5E5;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    letter-spacing: 1.6px;

}

.service-card h3 {
    margin: 1rem;
    color: #002B5C;
}


.service-card p {
    margin-bottom: 20px;
    opacity: 0.7;
}

.service-card ul {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
}

.service-card ul li {
    margin-bottom: 10px;
    opacity: 0.7;
}

.stock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    /* Added margin for better spacing */
}

.stock-wrapper p {
    text-align: left;
    margin: 20px;
    /* Reduced margin for better spacing */
    padding: 10px;
    letter-spacing: 1.3px;
    word-spacing: 1px;
    line-height: 1.5;
    /* Improved readability */
}

#app {
    max-width: 650px;
    margin: auto;
    padding: 20px;
    background: #E5E5E5;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Slightly stronger shadow */
}

#app p {
    text-align: center;

}

#chart {
    border: 1px solid #ccc;
    margin: 20px 0;
    border-radius: 5px;
    /* Added rounded corners */
    overflow: hidden;
    /* To keep borders clean */
}

h1 {
    text-align: center;
    font-size: 2em;
    /* Increased heading size for emphasis */
    margin-bottom: 20px;
    /* Added margin for spacing */
}

#fetch-button {
    margin-top: 25px;
    width: 30%;
    padding: 10px;
    background-color: #008080;
    color: #E5E5E5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    /* Added transform transition */
    font-weight: bold;
    /* Bold text for better visibility */
}

#fetch-button svg {
    width: 20px;
    /* Set desired width */
    height: 20px;
    /* Set desired height */
    vertical-align: middle;
    /* Aligns the icon vertically with text */
    margin-left: 5px;
    /* Space between text and SVG */
}

svg {
    border: none;
    outline: none;
}

#fetch-button:hover {
    background-color: #39cece;
    color: #E5E5E5;
    transform: scale(1.05);
    /* Slightly increase size on hover */
}

#result {
    margin-top: 20px;
    font-size: 1.1em;
    /* Slightly increased font size for better visibility */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    /* Increased padding for better touch targets */
    font: 12px Arial, Helvetica, sans-serif;
    ;
    background: lightsteelblue;
    border: none;
    /* No border */
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    /* Smooth fade-in effect */
}

.bar {
    fill: #4A4A4A;
    transition: fill 0.3s ease, transform 0.2s;
    /* Added transform transition */
}

.bar:hover {
    fill: #008080;
    background-color: #E5E5E5;
    transform: scale(1.0);
    /* Slightly increase size on hover */
}

.legend {
    cursor: pointer;
    margin-right: 30px;
    color: #008080;
    transition: color 0.3s;
    /* Added transition for smooth color change */
}

.legend:hover {
    color: #000000;
    /* Change color on hover */
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    fill: #333;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    fill: #E5E5E5;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: #4A4A4A;
    margin-bottom: 10px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #002B5C;
    border-radius: 5px;
    background-color: #E5E5E5;
    color: #4A4A4A;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s;
}

select:focus {
    outline: none;
    border-color: #008080;
    background-color: #ffffff;
    /* Change background on focus for clarity */
}

select:hover {
    border-color: #008080;
}

option {
    padding: 10px;
    background-color: #E5E5E5;
    /* Ensuring consistent background */
    color: #4A4A4A;
    /* Consistent text color */
}


.state {
    stroke: #ffffff;
    stroke-width: 1;
}

.state:hover {
    fill: orange;
    /* Highlight on hover */
}

.area-of-focus {
    margin: 100px 0px 100px 0px;
    width: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.area-of-focus h2 {
    text-align: center;
}

.area-of-focus p {
    margin: 20px 100px 40px 100px;
}

.focus-areas-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.accordion {
    background-color: #E5E5E5;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    transition: 0.4s;
    border-bottom: 2px solid #E5E5E5;


}

.accordion:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 24px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 15px 20px;
    background-color: #f9f9f9;
    display: none;
    overflow: hidden;
    border-bottom: 2px solid #E5E5E5;
}

.panel p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.6;
    color: #4A4A4A;
}

/*Bubble chart */


#crimes-homepage {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
}


/* Container for the Bubble Chart */
#crime-bubble-chart-container {
    text-align: center;
    margin-top: 40px;
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    /* Prevent padding from affecting overall size */
    width: 100%;
    /* Ensure container is flexible */
}

#crime-bubble-chart {
    width: 100%;

    height: 1000px;

    max-height: 80vh;

}

.crimes-p {
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 20px;
}



#tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 200px;
    font-size: 14px;
    transition: opacity 0.2s ease-in-out;
}

#tooltip .crime-category {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styling for the circles */
circle {
    transition: transform 0.2s, filter 0.2s;
    pointer-events: all;
}

circle:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}
#chart {
    margin-top: 30px;
}
#loading {
    font-size: 18px;
    color: gray;
}
.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 5px;
    display: none;
}

/* Optional: Add padding for smaller screens */
@media (max-width: 768px) {
    #hero-services h1 {
        font-size: 42px;
        padding: 0 20px;
        margin-bottom: 150px;
    }

    #scroll-button {
        font-size: 16px;
        margin-bottom: 70px;
    }

    main {
        display: block;
    }

    .hidden-controls::-webkit-media-controls {
        display: none !important;
    }

    .hidden-controls {
        pointer-events: none;
    }

    svg {
        width: 80%;
    }
}