/* Video Container */
#about-splash-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the container without distortion */
}

#video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Black overlay with 10% opacity */
    pointer-events: none;
    /* Allows clicks to pass through to the video */
}

/* About Section */
.about-section h2 {
    font-size: 45px;
    font-weight: bold;
    color: black;
    opacity: 0.6;
    letter-spacing: 1.2px;
    margin-bottom: 100px;
}

.about-section p {
    font-size: 22px;
    font-style: italic;
    line-height: 1.8;
    max-width: 800px;
    margin: 50px auto;
}

.legal-opinion-h2 {
    padding: 20px;
    margin: 30px;
}

.legal-opinion-p {
    margin: 20px 100px;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;

}

/* Section Divider */
.section-divider {
    height: 25px;
    background: linear-gradient(to bottom, transparent, #e5e5e5);
}

/* Our Values Section */
.container-values {
    max-width: 2200px;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    height: 60vh;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 130px;
    align-items: center;
    padding: 5px;
    gap: 20px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.left-container {
    flex-direction: row-reverse;
}

.right-container {
    flex-direction: row;
}

.text-box {
    opacity: 0; /* Start as invisible */
    transform: translateY(20px); /* Slightly lower position */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Animation for fade and move */
}

.text-box.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Original position */
}

/* Image Animations */
.animate-left,
.animate-right {
    width: 50%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.container.visible {
    opacity: 1;
    transform: translateY(0);
}

.right-container .text-box {
    transform: translateX(0);
}

/* Values Section Heading */
#our-values h2 {
    margin: 60px 20px 20px;
    padding-top: 20px;
}

.intro-text {
    font-size: 22px;
    font-weight: 700;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.6;
    opacity: 0.7;
}

/* Values List */
.values-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 25px;
}

.value-item {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#item-1 {
    grid-column: 1;
    grid-row: 1;
    animation: valueItemAnim 6s ease-in-out;
}

#item-2 {
    grid-column: 2;
    grid-row: 1;
    animation: valueItemAnim 4s ease-in-out;
}

#item-3 {
    grid-column: 3;
    grid-row: 1;
    animation: valueItemAnim 2s ease-in-out;
}

@keyframes valueItemAnim {
    0% {
        transform: translateY(-25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.value-item h3 {
    font-size: 26px;
    color: #008080;
    margin-bottom: 10px;
}

.value-item p {
    font-size: 18px;
    color: #4A4A4A;
    line-height: 1.5;
}

/* Bubble chart container styling */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    /* Increased font size */
    font-weight: bold;
    color: #002B5C;
    /* Consistent color scheme */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
}

.chart-title,
.details-title {
    margin-top: 60px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#chart {
    display: flex;
    justify-content: center;
    margin: 20px 200px 100px 200px;
    background: linear-gradient(to bottom right, #e6f7ff, #fff);
    /* Light gradient background */
    border: 2px solid #4a4a4a;
    /* Border to define the chart area */
    border-radius: 10px;
    /* Rounded corners */
    padding: 10px;
    /* Padding inside the chart area */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Shadow for depth */
}

#loading {
    text-align: center;
    font-size: 18px;
    color: #008080;
    animation: fadeIn 1s ease-in-out;
    /* Fade-in effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page-filter-container {
    text-align: center;
    /* Center the dropdown */
    margin: 20px
}

#page-filter {
    padding: 10px;
    /* Add padding for better touch target */
    border: 1px solid #ccc;
    /* Border styling */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 16px;
    /* Font size for readability */
    transition: border-color 0.2s;
    /* Smooth transition for border color */
}

#page-filter:hover {
    border-color: #002B5C;
    /* Change border color on hover */
}

.bubble {
    transition: transform 0.2s ease, fill 0.2s ease;
    cursor: pointer;
    stroke: #fff;
    /* White outline */
    stroke-width: 2;
    /* Outline width */
}

.bubble:hover {

    fill: #ffcc00;
    /* Change color on hover */
    stroke: #ff0000;
    /* Change outline color on hover */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 14px Arial, Helvetica, sans-serif;
    ;
    background: rgba(255, 255, 255, 0.9);
    /* Slightly opaque background */
    border: 1px solid #333;
    /* Dark border */
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    /* Shadow for depth */
    pointer-events: none;
    transition: opacity 0.3s ease;
    /* Smooth transition */
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #008080;
    text-decoration: none;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if needed) */
 
}
#fetch-legal-opinions {
    background-color: #008080; /* Navy Blue */
    color: #FFFFFF; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px; /* Space between button and chart */

}
#fetch-legal-opinions svg {
    width: 20px; /* Set desired width */
    height: 20px; /* Set desired height */
    vertical-align: middle; /* Aligns the icon vertically with text */
    margin-left: 5px; /* Space between text and SVG */
}
/* Button Hover Effect */
#fetch-legal-opinions:hover {
    background-color: #39cece; /* A lighter shade of navy for hover */
    transform: translateY(-2px); /* Slight lift on hover */
}
/* Media Queries */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        /* Stack items vertically */
        margin: 50px 20px;
        /* Reduce margins */
    }

    .text-box {
        max-width: 100%;
        /* Allow text box to take full width */
    }

    .values-list {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns for tablets */
    }

    #our-values {
        padding: 20px;
        /* Reduce padding */
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px;
        /* Reduce padding */
    }

    .about-section h2 {
        font-size: 36px;
        /* Smaller heading size */
    }

    .about-section p {
        font-size: 18px;
        /* Smaller paragraph size */
    }

    .values-list {
        display: block;
        /* Stack items vertically */
    }

    .value-item {
        max-width: 100%;
        /* Full width for value items */
        margin: 10px 0;
        /* Adjust margin */
    }

    #contact-form {
        padding: 10px;
        /* Adjust padding */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
        /* Smaller input size */
    }
}