/* Video Container */
#about-splash-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the container without distortion */
}

#video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Black overlay with 10% opacity */
    pointer-events: none;
    /* Allows clicks to pass through to the video */
}

/* About Section */
.about-section h2 {
    font-size: 45px;
    font-weight: bold;
    color: black;
    opacity: 0.6;
    letter-spacing: 1.2px;
    margin-bottom: 100px;
}

.about-section p {
    font-size: 22px;
    font-style: italic;
    line-height: 1.8;
    max-width: 800px;
    margin: 50px auto;
}

.legal-opinion-h2 {
    padding: 20px;
    margin: 30px;
}

.legal-opinion-p {
    margin: 20px 150px;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.5px;

}

/* Section Divider */
.section-divider {
    height: 25px;
    background: linear-gradient(to bottom, transparent, #e5e5e5);
}

/* Our Values Section */
.container-values {
    max-width: 2200px;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    height: 60vh;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 130px;
    align-items: center;
    padding: 5px;
    gap: 20px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.left-container {
    flex-direction: row-reverse;
}

.right-container {
    flex-direction: row;
}

.text-box {
    opacity: 0;
    /* Start as invisible */
    transform: translateY(20px);
    /* Slightly lower position */
    transition: opacity 0.6s ease, transform 0.6s ease;
    /* Animation for fade and move */
}

.text-box.visible {
    opacity: 1;
    /* Fully visible */
    transform: translateY(0);
    /* Original position */
}

/* Image Animations */
.animate-left,
.animate-right {
    width: 50%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.container.visible {
    opacity: 1;
    transform: translateY(0);
}

.right-container .text-box {
    transform: translateX(0);
}

/* Values Section Heading */
#our-values h2 {
    margin: 60px 20px 20px;
    padding-top: 20px;
}

.intro-text {
    font-size: 22px;
    font-weight: 700;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.6;
    opacity: 0.7;
}

/* Values List */
.values-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 25px;
}

.value-item {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#item-1 {
    grid-column: 1;
    grid-row: 1;
    animation: valueItemAnim 6s ease-in-out;
}

#item-2 {
    grid-column: 2;
    grid-row: 1;
    animation: valueItemAnim 4s ease-in-out;
}

#item-3 {
    grid-column: 3;
    grid-row: 1;
    animation: valueItemAnim 2s ease-in-out;
}

.visualisation-01 p {
    opacity: 0.8;
}

@keyframes valueItemAnim {
    0% {
        transform: translateY(-25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.value-item h3 {
    font-size: 26px;
    color: #008080;
    margin-bottom: 10px;
}

.value-item p {
    font-size: 18px;
    color: #4A4A4A;
    line-height: 1.5;
}
#bubble-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;

}

/* Optional styling for the bubble chart to ensure the SVG takes its container's full space */
#bubble-chart {
    width: 100%;
    height: 100%;
}
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 20px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    z-index: 1000;
    font-size: 14px;
}

.modal-content {
    position: relative;
}

.modal-close {
    position: absolute;
    bottom: 5px;
    right: 1px;
    cursor: pointer;
    font-size: 30px;
    transition: color 0.2s ease;

}

.modal-close:hover {
    color: #008080;
}

.bubble {
    font-family: Arial, sans-serif;
    color: white;
    text-anchor: middle;
}
.bubble :hover{
    opacity: 0.8;
}
/* Media Queries */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        /* Stack items vertically */
        margin: 50px 20px;
        /* Reduce margins */
    }

    .text-box {
        max-width: 100%;
        /* Allow text box to take full width */
    }

    .values-list {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns for tablets */
    }

    #our-values {
        padding: 20px;
        /* Reduce padding */
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px;
        /* Reduce padding */
    }

    .about-section h2 {
        font-size: 36px;
        /* Smaller heading size */
    }

    .about-section p {
        font-size: 18px;
        margin: 60px;
        /* Smaller paragraph size */
    }

    .values-list {
        display: block;
        /* Stack items vertically */
    }

    .value-item {
        max-width: 100%;
        /* Full width for value items */
        margin: 10px 0;
        /* Adjust margin */
    }

    #contact-form {
        padding: 10px;
        /* Adjust padding */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
        /* Smaller input size */
    }
}

.bubble-container {
    padding: 15px;
}

#modal-content {
    width: 80%; /* Adjust modal width for smaller screens */
    padding: 15px;
}

#modal-title {
    font-size: 1.2em; /* Smaller font for mobile */
}

#modal-details {
    font-size: 0.9em; /* Smaller font for mobile */
}

#bubble-chart-container {
    padding: 0 10px; /* Add padding to prevent overflowing */
    flex-direction: column;
    align-items: center;
}

#bubble-chart {
    width: 100%;
    max-width: 400px; /* Limit chart size on smaller screens */
    height: auto;
}


/* For very small screens */
@media screen and (max-width: 480px) {
#modal-content {
    width: 50%;
    padding: 10px;
}

#modal-title {
    font-size: 1.1em;
}

#modal-details {
    font-size: 0.85em;
}

#bubble-chart-container {
    flex-direction: column;
    padding: 0;
}

#bubble-chart {
    max-width: 100%;
    height: auto;
}
}

/* For larger screens */
@media screen and (min-width: 1024px) {
#modal-content {
    width: 60%; /* Increase modal width for large screens */
}

#bubble-chart-container {
    padding: 0 30px;
    justify-content: flex-start;
}

#bubble-chart {
    width: 100%;
    max-width: 800px; /* Adjust chart size for large screens */
    height: 400px; /* Set a fixed height for the chart */
}
}