#Hero {
  position: relative;
  height: 65vh;
  background: url('../../Images/Equitable_Building.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  z-index: 0; 
}

#Hero-Header {
  font-weight: lighter;
  color: #E5E5E5;
  font-size: 45px;
}

#Hero-H3 {
  padding: 5px;
  color: #E5E5E5;
  font-size: 30px;
}

#rolling-text {
  font-weight: 900;
  display: inline-block;
  animation: rollingTextAnim 5s ease-in-out infinite;
  transform-origin: bottom center;
}


@keyframes rollingTextAnim {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  25% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 1; 
}
.hero-content h1 {
  font-size: 2rem;
  margin: 0;
}

.hero-content p {
  font-size: 1rem;
  margin: 0;
}
#expertise{
  text-align: center;
}
#content-section-grid {
  padding: 25px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  text-align: center;
}

.content-container-item {
  background-color: #002B5C;
  color: #FFFFFF;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 12px 12px rgba(0, 0, 0, 0.1);
}

.content-container-item p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}


.content-container-item p.animate {
  opacity: 1;
  transform: translateY(0);
}

.content-icons {
  margin: 15px;
  width: 65px;
  animation: animateIcons 5s ease-in-out infinite;
}

@keyframes animateIcons {
  0% {
    transform: rotate(-15deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

#crimes-homepage h2{
  text-align: center;
}
#crime-bar-chart {
  margin: 50px auto;
  width: 800px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.bar {
  fill: #4A4A4A;

}

.bar:hover {
  fill: #008080;
}

.axis-label {
  font-size: 12px;
  font-family: sans-serif;
}

.title {
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
}

#testimonials {
  text-align: center;
  padding: 20px;
  background-color: #ececec;
  display: flex;              
  flex-direction: column;    
  align-items: center;        
}

.testimonial-item {
  display: none;           
  position: relative;     
  height: 150px;        
  overflow: hidden;       
  padding: 10px;         
  box-sizing: border-box;  
}
.testimonial-item.active {
  display: block;
}
.testimonial-item p {
  max-height: 120px;      
  overflow: hidden;      
  text-overflow: ellipsis; 
  display: -webkit-box;  

}
#handshake-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
}

.testimonial-text {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.client-name {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
#imageContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
svg {
  width: 100%;
  height: auto;
}
.expertise-button-container {
  text-align: center;
}
#services-btn{
  margin-left: 50px;
}

.dot-container {
  text-align: center;
  margin-top: 10px;
}
.dot {
  cursor: pointer;        
  height: 20px;           
  width: 20px;            
  margin: 0 5px;         
  background-color: #bbb; 
  border-radius: 50%;    
  display: inline-block;   
}

.dot.active {
    background-color: #008080;
}
@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr;
  }
  #crime-bar-chart {
    margin:auto;
    width: 350px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
 
}